body {
  background-image: url("https://raw.githubusercontent.com/Carpodi/socials/main/images/idk.gif");
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

 
.buttons1 {
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 100px;
    margin: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: #ffff;
    padding: 2em 0em; 
  }

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500px;
    line-height: 100px;
    max-width: 360px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect01 {
    color: #000;
    border: 4px solid #747FB6;
    box-shadow:0px 0px 0px 2px #000000 inset;
    background-color: #96A2DF;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid rgb(40, 202, 179);
    background-color: rgb(40, 202, 175);
    box-shadow:0px 0px 0px 4px rgb(18, 238, 165) inset;
  }
  
  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  @media only screen and (max-width: 1111px) {
    .container {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .container {
      width: 97%;
    }
  
    .module {
      width: 48%;
    }
  }
  
  /* Phone */
  @media only screen and (max-width: 768px) {
    .container {
      width: 97%;
    }
  
    .module {
      width: 100%;
    }
  }
